

/* Chart */
#chart-container {
	position: relative;
}

.floating-tooltip-2 {
	width: 100px;
	height: 300px;
	position: absolute;
	display: none;
	padding: 8px;
	box-sizing: border-box;
	font-size: 12px;
	color: '#fff';
	background-color: rgba(255, 255, 255, 0.23);
	text-align: left;
	z-index: 1000;
	top: 0px;
	left: 0px;
	pointer-events: none;
	border-radius: 4px 4px 0px 0px;
  border-bottom: none;
  box-shadow: 0 2px 5px 0 rgba(117, 134, 150, 0.45);
}

/* React bootstrap */
.container {
	margin-top: 2rem;
	padding-bottom: 2rem;
}

.navbar {
	background-color: rgb(18, 22, 28);
	padding: 0.5rem 2rem;
}

.col {
	margin-bottom: 15px;
	padding-top: 1.5rem
}

.row {
	/* margin-bottom: 15px; */
}

.table-responsive {
	margin-top: 1.5rem;
	margin-bottom: 5rem;
}

.nav-tabs .nav-item {
	margin-right: 0;
}

.card-columns {
	margin-top: 10px;
	margin-bottom: 15px;
}

.card {
	transition: box-shadow .1s;
	border-radius: 10px;
}

.card-img-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-footer {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
} 

.card-footer {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
} 

.btn {
	border-radius: 5px;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.alert {
	margin-top: 10px;
	margin-bottom: 0;
}

.form-control {
	background-color: #ecf0f1;
}



/* app */

html {
	position: relative;
	min-height: 100vh;
}

body {
	margin: 0 0 53px;
	/* background-color: rgb(20, 21, 26); */
	/* color: #ebebeb; */
	/* height: 100vh; */
}

.profile {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

footer {
	background-color: rgb(20, 21, 26);
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

footer .col {
	margin-bottom: 0;
}

footer .row {
	height: 100%;
}


h1,h2,h3,h4,h5,h6 {
	text-transform: none;
	/* color: #ebebeb */
}

.title h1, .title h2, .title h3,.title h4,.title h5,.title h6 {
	text-align: center;
	color: #fff;
}

.title {
	position: relative;
	height: 25vh;
	padding-top: 2%;
	background-color: #0B0E11;
}

.register-button {
	margin: 2rem auto;
	width: 180px;
	display: block;
	background-color: #F0B90B;
}

.register-button:hover {
	background-color: #eec53f;
}

a:hover {
	text-decoration: none;
}

.list-group {
	color: #55596c;
	border-radius: 10px;
}

.card {
	color: #55596c
}

main {
  min-height: 80vh;
}

.border-top-radius {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.border-bottom-radius {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.fas {
	font-size: 1.8rem;
	color: #F0B90B;
}

.search-bar {
	max-width: 250px;
}

.searchInput {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	min-width: 160px;
}

.movers {
	margin-top: 1.5rem;
}

.movers .table-responsive{
	margin-top: 0;
}

.search {
	height: 45px;
	border: 1px solid #F0B90B;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #12161C;
}

.search:hover {
	background-color: #2b2c2e;
	border-color: #F0B90B;
}

.search:active, .search:focus {
	box-shadow: none;
}

.search-button {
	display: none;
	background-color: transparent;
	padding: 0;
}

.stock-row:hover {
	cursor: pointer;
}

.green {
  color: #0ECB81;
}

.red {
  color: #F6465D;
}

.inline {
	display: inline;
}

.orderButtons {
	margin-bottom: 0;
}

.transaction-message.alert {
	margin: 0
}

/* carousel */
.carousel {
	position: absolute;
	height: 35%;
	width: 100%;
	bottom: 0;
}

.carousel-caption {
  position: absolute;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-caption h2 {
	color: #F0B90B
}
 
.carousel-caption h4 {
  color: #fff;
}

.carousel-inner {
	height: 120px;
}

.carousel-indicators {
	bottom: -1rem;
}

/* stock details screen */
.stock-details-screen {
	background-color: rgb(20, 21, 26);
	padding-top: 10px;
	color: #ebebeb;
	min-height: 90vh;
}

.stock-details-heading {
	color: #ebebeb;
}

.stock-details-title {
	background-color: #F0B90B;
	color: #fff;
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.user-info-sm {
	display: none;
	position: absolute;
}

/* .list-group-item {
	background-color: #ecf0f1;
} */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	body {
		font-size: .8rem;
	}

	.title {
		height: 40vh;
	}

	.greeting {
		padding: 1rem;
	}

 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
	.table {
		margin-bottom: 5rem;
	}

	.navbar-brand {
		margin-right: 1rem;
	}

	.greeting {
		padding-top: 10%;
	}

	.fas {
		font-size: 1.5rem;
	}

	.searchInput {
		display: none;
	}

	.search {
		display: none;
	}

	.search-button {
		display: inline-block;
	}

	.table-responsive {
		margin-bottom: 0;
	}

	.dropdown-item.active {
		background-color: #12161C;
	}

	.searchInput {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.user-info-md {
		display: none;
	}

	.user-info-sm {
		display: flex;
		position: inherit;
		color: #fff
	}

	.user-info-sm a {
		color: #fff
	}

	.title {
		height: 38vh;
	}
 }

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) { ... } */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) { ... } */

/* X-Large devices (large desktops, less than 1400px) */
/* @media (max-width: 1399.98px) { ... } */